.my-button{
    border-radius: 20px;
   cursor: pointer;
    height: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(30, 255, 0);
    transition: 400ms;
    
}
.my-button:hover{
    background: rgb(42, 161, 26);
}

.my-button--bordered{
    background:none;
    border: 2px solid rgb(255, 0, 0);
}

.my-button--bordered:hover{
    background: rgb(164, 27, 27);
}

.my-button--primary{

    color: white;
    border: 2px solid rgb(0, 0, 0);
}

.my-button--lg{
    height: 70px;
    font-size: 50px;
}